.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  md-grid-tile {
    background: lightblue;
  }
  body{
    overflow-y: hidden;
  }
  #main-content{
    height: 100vh;
  }
  
  