<!--The content below is only a placeholder and can be replaced.-->
<br>
<button onMouseOver="this.style.cursor = 'pointer';" onMouseOut="this.style.cursor = 'default';" onclick="location.href = 'http://google.co.uk/';">Click Here</button>
<br>
<br>
<button onclick="location.href='new-cwp';">Button</button>
<br>
<md-checkbox>Check me!</md-checkbox><br>

<md-form-field>
    <input mdInput value="Disco party!" placeholder="Message" #message>
  </md-form-field>
  
  <md-form-field>
    <input mdInput value="Dance" placeholder="Action" #action>
  </md-form-field>
  
  <button md-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button><br>
    <md-radio-group>
    <md-radio-button value="1">Option 1</md-radio-button>
    <md-radio-button value="2">Option 2</md-radio-button>
  </md-radio-group><br>

  <button md-button>Click me!</button><br>

  <md-button-toggle>Toggle me!</md-button-toggle><br>
  <md-chip-list>
    <md-chip>One fish</md-chip>
    <md-chip>Two fish</md-chip>
    <md-chip color="primary" selected="true">Primary fish</md-chip>
    <md-chip color="accent" selected="true">Accent fish</md-chip>
  </md-chip-list><br>

  <md-icon>home</md-icon><br>
  <md-icon svgIcon="thumbs-up">Like</md-icon><br>
  <md-spinner></md-spinner><br>
  <md-progress-bar mode="indeterminate"></md-progress-bar><br>




<button md-button>Click me!</button> <br>
<md-checkbox>Check me!</md-checkbox> <br>


<button md-button [mdMenuTriggerFor]="menu">Menu</button>
<md-menu #menu="mdMenu">
  <button md-menu-item>Item 1</button>
  <button md-menu-item>Item 2</button>
</md-menu> <br>





<button md-button [mdMenuTriggerFor]="animals">Animal index</button>

<md-menu #animals="mdMenu">
  <button md-menu-item [mdMenuTriggerFor]="vertebrates">Vertebrates</button>
  <button md-menu-item [mdMenuTriggerFor]="invertebrates">Invertebrates</button>
</md-menu>

<md-menu #vertebrates="mdMenu">
  <button md-menu-item [mdMenuTriggerFor]="fish">Fishes</button>
  <button md-menu-item [mdMenuTriggerFor]="amphibians">Amphibians</button>
  <button md-menu-item [mdMenuTriggerFor]="reptiles">Reptiles</button>
  <button md-menu-item>Birds</button>
  <button md-menu-item>Mammals</button>
</md-menu>

<md-menu #invertebrates="mdMenu">
  <button md-menu-item>Insects</button>
  <button md-menu-item>Molluscs</button>
  <button md-menu-item>Crustaceans</button>
  <button md-menu-item>Corals</button>
  <button md-menu-item>Arachnids</button>
  <button md-menu-item>Velvet worms</button>
  <button md-menu-item>Horseshoe crabs</button>
</md-menu>

<md-menu #fish="mdMenu">
  <button md-menu-item>Baikal oilfish</button>
  <button md-menu-item>Bala shark</button>
  <button md-menu-item>Ballan wrasse</button>
  <button md-menu-item>Bamboo shark</button>
  <button md-menu-item>Banded killifish</button>
</md-menu>

<md-menu #amphibians="mdMenu">
  <button md-menu-item>Sonoran desert toad</button>
  <button md-menu-item>Western toad</button>
  <button md-menu-item>Arroyo toad</button>
  <button md-menu-item>Yosemite toad</button>
</md-menu>

<md-menu #reptiles="mdMenu">
  <button md-menu-item>Banded Day Gecko</button>
  <button md-menu-item>Banded Gila Monster</button>
  <button md-menu-item>Black Tree Monitor</button>
  <button md-menu-item>Blue Spiny Lizard</button>
  <button md-menu-item disabled>Velociraptor</button>

</md-menu> <br>
<br>
<br>
<br>
<br>
<br>

 <md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <div class="example-sidenav-content">
    <button type="button" md-button (click)="sidenav.open()">
      Open sidenav
    </button>

   
    
  </div>

</md-sidenav-container>

<br>
<br>
<md-button-toggle-group #group="mdButtonToggleGroup">
  <md-button-toggle value="left">
    <md-icon>format_align_left  </md-icon>
  </md-button-toggle>
  <md-button-toggle value="center">
    <md-icon>format_align_center  </md-icon>
  </md-button-toggle>
  <md-button-toggle value="right">
    <md-icon>format_align_right  </md-icon>
  </md-button-toggle>
  <md-button-toggle value="justify" disabled>
    <md-icon>format_align_justify  </md-icon>
  </md-button-toggle>
</md-button-toggle-group>
<div class="example-selected-value">Selected value: {{group.value}}</div>
<br>
<h3>Basic Buttons</h3>
<div class="button-row">
  <button md-button>Basic</button>
  <button md-button color="primary">Primary</button>
  <button md-button color="accent">Accent</button>
  <button md-button color="warn">Warn</button>
  <button md-button disabled>Disabled</button>
  <a md-button routerLink=".">Link</a>
</div>

<h3>Raised Buttons</h3>
<div class="button-row">
  <button md-raised-button>Basic</button>
  <button md-raised-button color="primary">Primary</button>
  <button md-raised-button color="accent">Accent</button>
  <button md-raised-button color="warn">Warn</button>
  <button md-raised-button disabled>Disabled</button>
  <a md-raised-button routerLink=".">Link</a>
</div>

<h3>Icon Buttons</h3>
<div class="button-row">
  <button md-icon-button>
    <md-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</md-icon>
  </button>
  <button md-icon-button color="primary">
    <md-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</md-icon>
  </button>
  <button md-icon-button color="accent">
    <md-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</md-icon>
  </button>
  <button md-icon-button color="warn">
    <md-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</md-icon>
  </button>
  <button md-icon-button disabled>
    <md-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</md-icon>
  </button>
</div>

<h3>Fab Buttons</h3>
<div class="button-row">
  <button md-fab>Basic</button>
  <button md-fab color="primary">Primary</button>
  <button md-fab color="accent">Accent</button>
  <button md-fab color="warn">Warn</button>
  <button md-fab disabled>Disabled</button>
  <button md-fab>
    <md-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</md-icon>
  </button>
  <a md-fab routerLink=".">Link</a>
</div>

<h3>Mini Fab Buttons</h3>
<div class="button-row">
  <button md-mini-fab>Basic</button>
  <button md-mini-fab color="primary">Primary</button>
  <button md-mini-fab color="accent">Accent</button>
  <button md-mini-fab color="warn">Warn</button>
  <button md-mini-fab disabled>Disabled</button>
  <button md-mini-fab>
    <md-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</md-icon>
  </button>
  <a md-mini-fab routerLink=".">Link</a>
</div>
<br>
<br>
<md-paginator [length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]">
</md-paginator>
<br>
<span mdTooltip="Tooltip!">I have a tooltip</span>
<br>
<md-list>
  <h3 md-subheader>Folders</h3>
  <md-list-item *ngFor="let folder of folders">
    <md-icon md-list-icon>folder</md-icon>
    <h4 md-line>{{folder.name}}</h4>
    <p md-line> {{folder.updated | date}} </p>
  </md-list-item>
  <md-divider></md-divider>
  <h3 md-subheader>Notes</h3>
  <md-list-item *ngFor="let note of notes">
    <md-icon md-list-icon>note</md-icon>
    <h4 md-line>{{note.name}}</h4>
    <p md-line> {{note.updated | date}} </p>
  </md-list-item>
</md-list>
<br>
<md-list>
  <md-list-item>Item 1</md-list-item>
  <md-list-item>Item 2</md-list-item>
  <md-list-item>Item 3</md-list-item>
</md-list>
<br>
<md-grid-list cols="2" rowHeight="2:1">
  <md-grid-tile>one</md-grid-tile>
  <md-grid-tile>two</md-grid-tile>
  <md-grid-tile>three</md-grid-tile>
  <md-grid-tile>four</md-grid-tile>
</md-grid-list>
<br>

<router-outlet></router-outlet>
